* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*COLORS*/
  --grayish-blue-dark: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  /*FONTS*/
  --font-family: "Manrope", sans-serif;
  --font-size: 16px;
}
/*BASE STYLES*/
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  color: var(--light-grayish-blue);
  text-decoration: none;
}
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--light-grayish-blue);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  margin-top: 50px;
  position: relative;
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  background-color: var(--white);
}
.card-image {
  width: 100%;
  height: 200px;
}
.card-title {
  font-size: 1.1em;
  color: var(--grayish-blue-dark);
  padding: 1em;
  text-align: left;
}
.card-content {
  color: var(--grayish-blue-dark);
  padding: 0 1em;
  line-height: 1.4em;
  text-align: left;
  font-size: 0.9em;
}
.card-info {
  width: 100%;
  height: 70px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
}
.card-profile-container {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  margin: 0 12px;
}
.card-profile {
  width: 50px;
  height: 50px;
}
.card-profile-img {
  border-radius: 50%;
}
.card-profile-name {
  font-size: 0.9em;
  color: var(--grayish-blue-dark);
}
.card-profile-date {
  font-size: 0.8em;
  margin: 4px 0 0 0;
  color: var(--grayish-blue);
}
.card-profile-info {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  flex-direction: column;
}
